.footer__link {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 1s linear;
}

.footer__link:hover {
  opacity: 0.5;
}
